<div class="card" style="width: 18rem;">
    <img src={{this.img}} class="card-img-top" alt={{item.texto}}>
    <div class="card-body">
        <h5 class="card-title">{{item.texto}}</h5>
        <p class="card-text"> {{item.subtitulo}}</p>
    </div>
    <div class="card-body">
        <a href="#" class="btn btn-primary">Ver ahora</a>
    </div>
</div>