<!--<h1>Hola mundo desde HBS</h1>-->
<!-- mostrar datos dinamicos que vienen de una BBDD -->
{{#each urls }}
<!-- llamar a compomponentes (parciales)  // alternativa a this (con this funciona ==)-->
    {{> Cards item=this}}
{{/each}}